*{
	margin:0;
	padding:0;
}

body{
      background-color:#9fc0f5;
	
     }

img{
	height:200px;
	width:100%
}	 

.menu{
	color:white;
	background-color:gray;
	height:50px;
	padding-top:12px;
	
	
}
.menu a{
	color:white;
	padding:10px center;
	font-size:25px;
	margin: 10px;
}
.main{
	padding:10px;
	background-color:#9fc0f5;
	width:1330px;
	height:1000px;
}
.left{
    
	float:left;
	width:330px;
    height: 100%;
	background-color:#9ff5ad;
	
}

.right{

	float:right;
	width:1000px;
	height: 100%;
	background-color:#f5cd9f;
	

}

.footer {
	
	padding:5px;
	height:50px;
	width:1350px;
	background-color:gray;
	text-align:right;
	
}
.Footer p {
	font-size:25px;
	padding:10px;
	
	

	
	
}

